@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 62.5%;
    --main-color: #b73230;
    --sub-color: #221e1f;
    --title-color: #000;
    --text-color: #111;
    --bg-color: #fcc606;
    --rds: 2.4rem;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

button {
    background-color: transparent;
    cursor: pointer; /* cup */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

img {
    max-width: 100%; /* maxw */
}

body {
    font: 1.6rem/1.5 'Inter', 'Pretendard', sans-serif;
    word-break: keep-all;
    color: var(--text-color);
}

.inner {
    width: 144rem;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.1); */
}

#header {
    width: 100%;
}

#header .inner {
    /* padding: 7rem 0; */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.3rem 0;
    border-bottom: 1px solid #dbdbdb;
}

.logo a {
    display: block;
    width: 29.4rem;
    height: 7.4rem;
    background: url(../images/logo-header.png) no-repeat 50% / contain;
}

.header-con {
    display: flex;
    gap: 4rem;
}

.header-con li {
    width: 4rem;
    height: 4rem;
}

.gnb {
    display: flex;
    padding: 0 9rem;
    justify-content: space-between;
}

.gnb li {
}

.gnb li a {
    font-weight: 600;
    font-size: 2.4rem;
    display: block;
    width: 14rem;
    height: 6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu {
    display: none;
}

/* //e: header */

/* s: sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 2.8%;
    z-index: 99;
    width: 9rem;
    /* border: 1px solid #000; */
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.25));
}

.sidebar::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 0.3rem;
    background: #fff;
}

.sidebar a {
    display: block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    transition: 0.4s;
    background: var(--main-color);
    padding: 4rem 0;
    border-radius: 100px 100px 0 0;
}

.sidebar a + a {
    border-radius: 0 0 100px 100px;
}

.store::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../images/icon-map.svg) no-repeat 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.service::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../images/icon-headset.svg) no-repeat 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

/* //e: sidebar */

/* s: footer */
#footer {
    background: var(--sub-color);
    color: #fff;
    padding: 15rem 0;
}

#footer .inner {
    display: flex;
    justify-content: space-between;
}

.foot-link {
    display: flex;
    margin-left: -20px;
}

.foot-link li a {
    font-size: 1.8rem;
    position: relative; /* foot-link li::after의 기준  */
    padding: 0 2rem;
}

.foot-link li a::after {
    content: '';
    display: block;
    width: 1px;
    height: 1.4rem;
    background: #fff;
    opacity: 0.3;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); /* trfty */
    margin-left: -2rem;
}

.foot-link li:last-child a::after {
    display: none;
}

.copyright {
    margin-top: 8rem;
}

.copyright-top {
    display: flex;

    font-size: 1.4rem;
    margin-left: -2rem;
}

.copyright-top p {
    position: relative;
    padding: 0 2rem;
}

.copyright-top p::after {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background: #fff;
    opacity: 0.3;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.copyright-top p + p + p::after {
    display: none;
}

.copyright-mid {
    display: flex;
    font-size: 1.4rem;
    margin-top: 2rem;
    font-weight: 300;
    margin-left: -2rem;
}

.copyright-mid p {
    position: relative;
    padding: 0 2rem;
}

.copyright-mid p::after {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background: #fff;
    opacity: 0.3;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.copyright-mid p + p::after {
    display: none;
}

.copyright-bottom {
    font-size: 1.2rem;
    margin-top: 3rem;
    color: #969696;
    font-weight: 300;
}

.foot-con {
    margin-top: 20rem;
}

.foot-sns {
    display: flex;
    gap: 3rem;
}

.foot-sns li a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #fff no-repeat 50%;

    transition: 0.4s;
}

.foot-sns li a.facebook {
    background-image: url(../images/icon-facebook.svg);
}
.foot-sns li a.instagram {
    background-image: url(../images/icon-instagram.svg);
}
.foot-sns li a.youtube {
    background-image: url(../images/icon-youtube.svg);
}

/* //e:footer */

/* s: top */

.top {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8rem;
    height: 8rem;
    background: #fff no-repeat 50%;
    background-image: url(../images/icon-up.svg);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 99;
    transition: 0.4s;
}

/* //e: top */

/* hover effect */

.store:hover {
    background: var(--sub-color);
    color: #fff;
}

.service:hover {
    background: var(--sub-color);
    color: #fff;
}

.top:hover {
    background: var(--main-color) url(../images/icon-up-hover.svg) no-repeat 50%;
    transform: scale(1.2);
}

.foot-sns li:hover .facebook {
    background: var(--main-color) url(../images/icon-facebook-hover.svg) no-repeat 50%;
}

.foot-sns li:hover .instagram {
    background: var(--main-color) url(../images/icon-instagram-hover.svg) no-repeat 50%;
}

.foot-sns li:hover .youtube {
    background: var(--main-color) url(../images/icon-youtube-hover.svg) no-repeat 50%;
}

/* 태블릿 디자인 */
@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }

    .header-bottom {
        display: none;
    }
    .header-con {
        display: none;
    }

    #header nav {
        height: 14rem;
    }

    .header-top {
        padding: 3.25rem 0;
    }

    .logo a {
        width: 5.3rem;
        height: 5rem;
        background-image: url(../images/favicon.png);
    }

    #footer {
        padding: 8rem 0;
    }

    #footer .inner {
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    .foot-text {
        margin-top: 5rem;
    }

    .foot-link {
        justify-content: center;
    }

    .foot-link li a::after {
    }

    .foot-con {
        margin-top: 4.5rem;
    }

    .copyright {
        margin-top: 4rem;
        justify-content: center;
    }

    .copyright-top {
        justify-content: center;
    }

    .copyright-mid {
        justify-content: center;
    }

    .copyright-mid p::after {
    }

    .foot-link li a {
        font-size: 1.6rem;
    }

    .foot-link li a::after {
        height: 1.2rem;
    }
}

/* 모바일 디자인 */
@media screen and (max-width: 375px) {
    .inner {
        width: 335px;
        width: 89.3333%;
    }

    #header nav {
        height: 10.6rem;
    }

    .header-top {
        border-bottom: none;
        height: 100%;
    }

    .logo a {
        width: 4.2rem;
        height: 4rem;
    }

    .btn-menu {
        width: 4rem;
        height: 4rem;
    }

    #footer {
        padding: 7rem 0;
    }

    .time {
        display: none;
    }

    .foot-text {
        margin-top: 3rem;
    }

    .foot-link {
    }

    .foot-link li a {
        font-size: 1.2rem;
    }

    .foot-con {
        margin-top: 4rem;
    }

    .copyright {
        margin-top: 3rem;
    }

    .copyright-top {
        display: none;
    }

    .copyright-mid {
        font-size: 1rem;
        margin-top: 0;
    }

    .copyright-bottom {
        font-size: 1rem;
        margin-top: 2rem;
    }

    .foot-sns li a {
        width: 4rem;
        height: 4rem;
    }

    .top {
        width: 6rem;
        height: 6rem;
    }
}
