@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 62.5%;
    --main-color: #b73230;
    --sub-color: #221e1f;
    --title-color: #000;
    --text-color: #111;
    --bg-color: #fcc606;
    --rds: 2.4rem;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

button {
    background-color: transparent;
    cursor: pointer; /* cup */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

img {
    max-width: 100%; /* maxw */
}

body {
    font: 1.6rem/1.5 'Inter', 'Pretendard', sans-serif;
    word-break: keep-all;
    color: var(--text-color);
}

.inner {
    width: 144rem;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.1); */
}

/* //e: style.common */

#header {
    width: 100%;
}

#header .inner {
    /* padding: 7rem 0; */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 0;
    border-bottom: 1px solid #dbdbdb;
}

.header-con {
    display: flex;
    gap: 4rem;
}

.header-con li {
    width: 4rem;
    height: 4rem;
}

.header-bottom {
}

.gnb {
    display: flex;
    padding: 0 9rem;
    justify-content: space-between;
}

.gnb li {
}

.gnb li a {
    font-weight: 600;
    font-size: 2.4rem;
    display: block;
    width: 14rem;
    height: 6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* //e: header */

/* s: sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    z-index: 99;

    font-weight: 600;
    color: #fff;
    width: 9rem;
    height: 32rem;
    background: var(--main-color);
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

.store {
    display: block;
}

.store::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../images/icon-map.svg) no-repeat 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.store::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background: #fff;
    margin-top: 5rem;
}

.service {
    display: block;
    /* margin-top: 5rem; */
}

.service::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../images/icon-headset.svg) no-repeat 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

/* //e: sidebar */

/* s: order */
.order {
    background: var(--main-color);
}

.order .inner {
    padding: 10rem 8rem;
}

.order-list {
    display: flex;
    justify-content: space-between;
}

.order-list li {
    width: 36rem;
    height: 20rem;
    background: #fff;
    border-radius: var(--rds);
    padding: 2.4rem;

    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.order-list li a {
    font-weight: 700;
    font-size: 2.4rem;
}

.order-list li a::before {
    content: '';
    display: block;
    width: 10rem;
    height: 10rem;
    background: no-repeat 50%;
    margin: 0 auto;
    margin-bottom: 1.6rem;
}

.order-list li:nth-child(1) a::before {
    background-image: url(../images/icon-order1.png);
}
.order-list li:nth-child(2) a::before {
    background-image: url(../images/icon-order2.png);
}
.order-list li:nth-child(3) a::before {
    background-image: url(../images/icon-order3.png);
}
/* //e: order */

/* s: bestmenu */

.bestmenu {
    background: var(--bg-color);
}

.bestmenu .inner {
    padding: 15rem 0;
}

.bestmenu h2 {
    font-weight: 700;
    font-size: 10rem;
    text-align: center;
    color: var(--title-color);
}

.bestmenu-list {
    /* background: skyblue; */
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 12rem;
}

.bestmenu-list .pizza {
    /* border: 1px solid #000; */
    display: flex;
    gap: 8rem;
}

.bestmenu-list .pizza:nth-child(2) {
    flex-direction: row-reverse;
}

.bestmenu-list li figure {
    width: 71rem;
    height: 50rem;
    border-radius: 6%;
    overflow: hidden;
}

.bestmenu-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bestmenu-info {
    /* background: orange; */
    width: 65rem;
    padding: 2rem 0;
}

.bestmenu-title {
}

.bestmenu-title dt {
    font-weight: 700;
    font-size: 5rem;
    color: var(--title-color);
}

.bestmenu-title dt + dt {
    font-weight: 500;
    font-size: 4.2rem;
}

.bestmenu-title dd {
    font-size: 3rem;
    margin-top: 6rem;
}

.price {
    display: flex;
    gap: 8rem;
}

.price li {
    font-size: 2.6rem;
    font-weight: 600;
}

.price li em {
    color: #fff;
    background: var(--sub-color);
    width: 4.2rem;
    height: 4.2rem;
    margin-right: 1rem;
    border-radius: 50%;
    display: inline-block;

    justify-content: center;
    text-align: center;
}

.more {
    margin: 0 auto;
    font-weight: 500;
    font-size: 2.4rem;
    color: #fff;
    background: var(--sub-color);

    width: 22rem;
    height: 5.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15rem;
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.more::before {
    content: '';
    display: block;

    width: 2.1rem;
    height: 2.1rem;
    background: url(../images/icon-plus.svg) no-repeat 50%;
}

/* //e: bestmenu */

/* s: brand */

.brand {
}

.brand-info {
    background: url(../images/info-dim.png) no-repeat 50%;
    padding: 10rem 0;
    height: 48rem;
    text-align: center;

    position: relative;
}

.brand-info::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}

.brand-info-con {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.brand-info-con strong {
    font-weight: 500;
    font-size: 3.4rem;
}

.brand-info-con h3 {
    font-weight: bold;
    font-size: 8rem;
    margin-top: 2rem;
}

.brand-info-con p {
    font-weight: 500;
    font-size: 3.6rem;
    margin-top: 3rem;
}

.brand .inner {
}

.brand-info-history {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
}

.brand-info-history figure {
    width: 20rem;
    height: 20rem;
    position: relative;
}

.brand-info-history figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-info-history li {
    width: 20rem;
    height: 25.5rem;
    text-align: center;

    position: relative;
}

.brand-info-history p {
    font-weight: 500;
    font-size: 2.2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 20rem;
    height: 20rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.4s;
}

.brand-info-history strong {
    display: block;

    font-weight: 600;
    font-size: 2.6rem;
    margin-top: 1.6rem;
}

/* hover effect */
.brand-info-history li:hover p {
    opacity: 1;
}

/* //e: brand */

/* s: news */

.news {
    padding: 20rem 0;
}

.news .inner {
}

.news h3 {
    font-weight: 600;
    font-size: 6rem;
    color: #000;
}

.news-list {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.news-list li {
    width: 35rem;
    height: 50rem;
}

.news-list li figure {
    width: 35rem;
    height: 35rem;
}
.news-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-text {
    width: 35rem;
    height: 15rem;
    border: 1px solid #dbdbdb;
    padding: 1.5rem 2rem;
}

.news-text strong {
    font-weight: 500;
    font-size: 2rem;
}

.news-text p {
    margin-top: 2.5rem;
    color: #555;
}

/* e//: news */

/* s: footer */
#footer {
    background: var(--sub-color);
    color: #fff;
}

#footer .inner {
    display: flex;
    justify-content: space-between;
    padding: 15rem 0;
}

#footer .foot-logo {
}

#footer .foot-text {
}

.foot-link {
    display: flex;
    margin-left: -20px;
}

.foot-link li a {
    font-size: 1.8rem;
    position: relative; /* foot-link li::after의 기준  */
    padding: 0 2rem;
}

.foot-link li a::after {
    content: '';
    display: block;
    width: 1px;
    height: 1.4rem;
    background: #fff;
    opacity: 0.3;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); /* trfty */
    margin-left: -2rem;
}

.foot-link li:last-child a::after {
    display: none;
}

.copyright {
    margin-top: 8rem;
    /* margin-left: -2rem; */
}

/* .copyright p {
    position: relative;
    padding: 0 2rem;
}

.copyright p::after {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background: #fff;
    opacity: 0.3;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
} */

.copyright-top {
    display: flex;

    font-size: 1.4rem;
    margin-left: -2rem;
}

.copyright-top p {
    position: relative;
    padding: 0 2rem;
}

.copyright-top p::after {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background: #fff;
    opacity: 0.3;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.copyright-top p + p + p::after {
    display: none;
}

.copyright-mid {
    display: flex;
    font-size: 1.4rem;
    margin-top: 2rem;
    font-weight: 300;
    margin-left: -2rem;
}

.copyright-mid p {
    position: relative;
    padding: 0 2rem;
}

.copyright-mid p::after {
    content: '';
    display: block;
    width: 1px;
    height: 1rem;
    background: #fff;
    opacity: 0.3;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.copyright-mid p + p::after {
    display: none;
}

.copyright-bottom {
    font-size: 1.2rem;
    margin-top: 3rem;
    color: #969696;
    font-weight: 300;
}

.foot-con {
    margin-top: 20rem;
}

.foot-sns {
    display: flex;
    gap: 3rem;
}

.foot-sns li a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #fff;
}

/* s: btn-top */

.btn-top {
    display: block;
    width: 8rem;
    height: 8rem;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 99;
}

/* //e: top */
